* {
    box-sizing: border-box;
}

/*
fixes:
line 70 'glass' is not showing or not styled correctly, make sure I understand diff btwn
element and attribute, parent, child in form

line 69 explain Cascade of rule syntax .job-search-form input[type=text]

line 89-11 second child of pagination needs left and right boder 1px solid black


*/

body {
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: lightgray;
    height: 80px;
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
}

header h1 {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-top: 20px;

}

nav ul {
    /*    float: right;*/
    position: absolute;
    right: 10px;
    top: 32px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

ul li {
    /*    color: #fff;*/
    text-decoration: none;
}

a {
    color: rebeccapurple;
}

.wrapper {
    margin-left: 60px;
    padding-left: 20px;

}

.wrapper ul li {}

/*get help with this*/

.job-search-form input[type=text] {
    height: 35px;
    width: 300px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid black;
}

.job-search-form .glass {
    width: 40px;
    height: 40px;
    background: url('images/magnifying-glass.png');
    border-radius: 3px;
    border: 1px solid black;
    text-indent: -6000px;
}

ul.pagination {
    margin: 0;
    padding: 0;
    font-size: 0;
    /*    ?*/
    margin-top: 25px;

}

/* as HTML code grows  be as specific as you are required */

/*if classes start duplicate need to make CSS style rules more specific*/

ul.pagination li {
    font-size: 16px;
    display: inline-block;
    padding: 10px 10px;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/*target the second li add border right border left style to */

ul.pagination li:first-child {
    /* this style rule is targeting the 'Prev' li which is the first child of the pagination class*/
    border-left: 1px solid black;
}

/*this style rule is targeting the ordered list that is the child of jobs-output*/

ul.jobs-output {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    list-style: none;
}
